.sidebar{
    width: 20%;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
}
.sidebarLogo{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.sidebarLogo>img{
    width:60px;
    height:60px;
    margin-right: 30px;
}
.sidebarList{
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
