.app{
    background: #ececef;
    height:100vh;
    display: flex;
    align-items: center;
}
.mainDiv{
    width: 95%;
    margin: auto;
    background: #ffffff;
    border-radius: 30px;
    height:90%;
}