.allTasks{
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
}
table{
    width: 100%;
    text-align: center;
    margin-top:10px;
}
table,th,td{
    border: 1px solid black;    
}
.yourTask{
    margin-top:-280px;
}
.moveBtn{
    width: 100%;
}