.allTasks{
    width: 70%;
    margin: auto;
}
table{
    width: 100%;
    text-align: center;
    margin-top:10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:10px;
    padding: 20px;
}
th,td{
    border: 1px solid gray;    
    border-radius:3px;
}
.yourTask{
    margin-top:-280px;
}
.moveBtn{
    width: 100%;
}
.inProgress{
    cursor: pointer;
}