.home{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.todoImgDiv{
    height:300px;
}
.calender{
    height:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.todoImg{
    width: 100%;
    height:100%;
    object-fit: cover;
}
